#persona-pdf-template {
  min-width: 210mm !important;
  min-height: 297mm !important;

  max-width: 210mm !important;
  max-height: 297mm !important;

  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.23);
}

.block-overflow {
  height: 100%;
  overflow-y: hidden !important;
}

.box-description {
  border: 1px black solid;
  border-radius: 5px;
  padding: 1rem;
}

.side-bar {
  background-color: #f8f8fd;
  padding: 2rem;
}

.header-vaga {
  color: #ffe412;
  text-transform: uppercase;
}

.logo {
  margin-left: 1rem;
  max-height: 1.5rem;
}

.pdf-mocinha {
  height: 12rem;
}

.notas {
  background-color: #d8d7e2;
  border-radius: 5px;
  height: 12rem;
}

.main-body {
  padding: 2rem;
}

.email-converter {
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #6442fb; */
  background-color: white;

  -webkit-box-shadow: 2px -2px 15px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 2px -2px 15px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 2px -2px 15px 0px rgba(0, 0, 0, 0.23);
}

.show-in-print {
  display: none;
}
@media (orientation: portrait) {
  .hide-in-print {
    /* display: none; */
  }
}

@media print {
  .hide-in-print {
    display: none;
  }

  .show-in-print {
    display: block;
  }
}
