@media (orientation: landscape) {
  .header {
    padding-right: 10rem;
  }
}
@media (orientation: portrait) {
  .header {
    padding-bottom: 6rem;
  }
}

.header p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.header div button {
  display: inline-block;
  margin-right: 4rem;
}
