/* LAYOUT */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.wrapper-overflow {
  overflow: auto;
}

/* Landscape = Desktop  */
@media (orientation: landscape) {
  .container {
    width: 170vw;
  }

  .columns {
    display: flex;
    margin: 16rem 10rem auto 10rem;
  }

  .col-1 {
    max-width: 45rem;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
  }

  .col-2 {
    max-width: 40%;
  }

  img {
    max-height: 50rem;
  }

  footer {
    text-align: center;
    padding: 3rem;
  }
}

/* Portrait = Mobile */
@media (orientation: portrait) {
  .columns {
    display: flex;
    flex-direction: column;
    margin: 7em 3rem;
    text-align: center;
  }

  img {
    width: 100%;
    margin-top: 2rem;
  }

  footer {
    text-align: center;
    margin: 1rem auto 2rem;
  }
}

.header,
container-form {
  max-width: 70rem;
}

.header p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.header div div {
  display: inline-block;
  margin-right: 4rem;
}
