/* BASELINE */
:root {
  --pipo-white: #ffffff;
  --pipo-pale-grey: #f8f8fd;
  --pipo-light-periwinkle: #d8d7e2;
  --pipo-light-azure-grey: #bfc9d6;
  --pipo-steel: #747c8f;
  --pipo-charcoal-grey: #36393d;
  --pipo-dandelion: #ffe412;
  --pipo-azure: #0099ff;
  --pipo-purpleish-blue: #6442fb;
  --pipo-cherry-red: #ea202c;
}
