/* TYPOGRAPHY */
html {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  font-stretch: normal;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  font-size: 62.5%;
}

h1 {
  font-family: 'TruenoBlk', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 3.6rem;
  color: var(--pipo-charcoal-grey);
}

h2 {
  font-family: 'TruenoBlk', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  color: var(--pipo-charcoal-grey);
  text-transform: uppercase;
}

h3 {
  font-family: 'TruenoRg', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  color: var(--pipo-charcoal-grey);
}

h4 {
  font-family: 'TruenoRg', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: var(--pipo-charcoal-grey);
}

p {
  font-family: 'TruenoRg', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--pipo-charcoal-grey);
}

.txt-bold {
  font-family: 'TruenoBd', 'Trueno', Arial, Helvetica, sans-serif;
}

.txt-small {
  font-family: 'TruenoSBd', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--pipo-charcoal-grey);
  text-transform: uppercase;
}

.txt-placeholder {
  font-family: 'TruenoSBd', 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: var(--pipo-charcoal-grey);
}
