/* LAYOUT */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.wrapper-overflow {
  /* overflow: auto; */
  overflow-x: hidden;
  /* overflow: hidden; */
}

/* Landscape = Desktop  */
@media (orientation: landscape) {
  .container {
    width: 170vw;
  }

  .columns {
    display: flex;
    margin-top: 10rem;
  }

  .col-1 {
    max-width: 45rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    justify-content: center;
  }

  .col-2 {
    width: 40%;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }

  .mocinha {
    max-height: 31.25rem;
  }
}

/* Portrait = Mobile */
@media (orientation: portrait) {
  .columns {
    display: flex;
    flex-direction: column;
    margin: 7em 3rem;
    text-align: center;
  }

  .mocinha {
    width: 80%;
    margin: 3rem auto 3rem auto;
  }
}
